.card {
    border: 1px solid rgb(233, 224, 224);
    @apply h-[460px] w-[320px] relative 
}

.card__img {
    @apply h-[300px] w-96
    
}

.card__price {
    padding-top: 10px;
    color: rgb(65, 65, 65);
}

.card__btn {
  background-color: #B01E68; /* Green */
  height: 30px;
  width: 40px;
  color: white;
  padding: 3px 11px;
  position: absolute;
  top: 445px;
  left: 130px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition-duration: 0.4s;
  border-radius: 50%;
  cursor: pointer;
}

