.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px;
    height: 80px;
    /* border-bottom: 1px solid rgb(196, 196, 196); */
    background: rgb(255, 255, 255);
}

.menu {
    display: flex;
    gap: 25px;
}

.menu li{
    list-style: none;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
}
.menu li:hover{
    cursor: pointer;
}

.navbar__icon{
    font-size: 25px;
    cursor: pointer;
    display: none;
}

@media (max-width:800px) {
    .navbar__icon{
        display: flex;
    }
    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: -100%;
        margin-top: 80px;
        /* background: rgb(216, 216, 216); */
        background: rgb(179, 70, 70);
        height: 100vh;
        width: 100%;
        z-index: 999;
        gap: 30px;
        color: white;
        text-align: center;
        padding-top: 20px;
        transition: .5s ease-in;
    }
    .menu.active{
        position: absolute;
        left: 0;
    }

}