.yoga__image {
    height: 400px;
    width: 100%;
     mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(255, 255, 255, 0.9) 80%);
     -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0) 10%,rgba(255, 255, 255, 0.9) 60%);
}

.main__testimonail{
    @apply flex w-[80%] m-auto p-20 gap-7
}
.testimonail{
    @apply w-[50%] text-3xl font-bold
}
.testimonail__inner{
    @apply p-5 bg-pink-100 mt-5 sm:mt-3
}
.testimonail__para{
    @apply text-sm font-normal leading-5 mt-3 tracking-wide
}
.test__img{
    border-radius: 50%;
    @apply w-14 h-14 mt-2
}
.Question{
    @apply text-xl font-bold w-[50%]

}
.underline{
    width: 50px;
    height: 3px;
    background:rgb(255, 67, 98);
    margin-top: 8px;
}

@media(max-width:900px){
    .main__testimonail{
        @apply flex-wrap justify-center w-[100%]

    }
    .testimonail{
        @apply w-[100%] text-2xl font-bold
    }
    .Question{
        @apply text-xl font-bold   w-[100%]
    
    }
}
